<!doctype html>
<html lang="en">

<head>
    <!-- Basic Page Needs==================================================-->
    <title>Job Stock - Responsive Job Portal Bootstrap Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS==================================================-->
    <link rel="stylesheet" href="/stylesheets/plugins.css">
    <link href="/stylesheets/dashboard_style.css" rel="stylesheet">
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <style>
        ::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
  .btn-get-started {
   width:100%;
   height:52px;
   border-radius:2px;
   font-size:16px;
   background:#1852bd;
   border:1px solid #1852bd;
   color: #fff;
  }
  
  .btn-get-started:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
  }

  .btn-get-started-2 {
   width:100%;
   height:52px;
   border-radius:2px;
   font-size:16px;
   background:#2c910e;
   border:1px solid #2c910e;
   color: #fff;
  }
  
  .btn-get-started-2:hover {
    background: none;
    border: 2px solid #000;
    color: #000;
  }

  .btn-get-started-3 {
  
   border-radius:2px;
   font-size:16px;
   background:#c02611;
   border:1px solid #c02611;
   color: #fff;
  }
  
  .btn-get-started-3:hover {
    background: none;
    border: 2px solid #000;
    color: #000;
  }

  .block {
  width: 10%;
  border: none;
  background-color: rgba(255,255,255,0.2);
  padding: 14px 28px;
  font-size: 32px;
  text-align: center;
}


    </style>
</head>
<body>
<div class="Loader"></div>
<div class="wrapper">
   
    <div class="clearfix"></div>
    <div class="banner" style="width: 100%;height: 100vh;background: url(../images/hero-bg.jpg) top center;background-size: cover;padding-top:0% !important;">
        <div class="container">
            <div class="banner-caption">
                <div class="col-md-12 col-sm-12 banner-text" style="margin-top: 2%;">
                    <div style="display: flex; justify-content:flex-end;">
                    <a class="block" href="/auth/logout">
                    <i class="fa fa-sign-out" style="color: #fff;" aria-hidden="true"></i>
                    </a>
                </div>
                   <h1>Shorten URLs</h1>
                    <form class="form-horizontal" style="display: flex;justify-content:center" action="/dashboard/shortener" method="post">
                        <div class="col-md-6 no-padd">
                            <div class="input-group"><input type="url" name="long_url" class="form-control right-bor" required
                                                            placeholder="Paste the Long Url Here..."></div>
                        </div>
                        <div class="col-md-2 no-padd">
                            <div class="input-group">
                                <button type="submit" class="btn-get-started">Shorten URL</button>
                            </div>
                        </div>
                    </form>
                    <div style="overflow-y: scroll; height:400px;padding-top:2%">
                         {{#each projects}} 
            <div class="item-click">
                <form action="/dashboard/remove" method="POST">
							<div class="brows-job-list" style="display: flex; justify-content:center;background:rgba(255,255,255,0.2)">
                                <div class="col-md-1 no-padd" style="display: flex;align-items:center;justify-content:center">
                            <div class="input-group">
                                <button type="submit" class="btn-get-started-3" name="copyButton"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
								<div class="col-md-4 no-padd">
                            <div class="input-group"><input type="text" name="long_url" class="form-control right-bor" readonly
                                                            value={{this.long_url}} placeholder={{this.long_url}}></div>
                        </div>
                        <div class="col-md-4 no-padd">
                            <div class="input-group"><input type="text" class="form-control right-bor" id={{this.short_url}} readonly
                                                       value="localhost:3000/{{this.short_url}}" name="short_url" placeholder={{this.short_url}}></div>
                        </div>
                        
                        <div class="col-md-2 no-padd">
                            <div class="input-group">
                                <button type="button" class="btn-get-started-2" name="copyButton" onclick="myFunction({{this.short_url}},this)">Copy <i class="fa fa-copy"></i></button>
                            </div>
                        </div>
							</div>
                            </form>
					</div>
                            {{/each}} 
                    
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <footer class="footer">
        <div class="row copyright">
            <div class="container">
                <p><a target="_blank" href="https://www.templateshub.net">&#169; Templates Hub</a></p>
            </div>
        </div>
    </footer>
    <!-- Scripts==================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.8/handlebars.js"></script>
    <script type="text/javascript">
    

      function myFunction(element,button) {
    /* Get the text field */
    var copyTexts = document.getElementsByName("copyButton");
    for(var i=0;i<copyTexts.length;i++){
        copyTexts[i].innerHTML = "Copy"
    }
    var copyText = document.getElementById(element.getAttribute('id'));
    /* Select the text field */
    copyText.select(); 
    copyText.setSelectionRange(0, 99999); /* For mobile devices */

    /* Copy the text inside the text field */
    document.execCommand("copy");

    /* Alert the copied text */
    //alert("Copied the text: " + copyText.value);
    button.innerHTML = "Copied"
    }
    </script>
    <script>function openRightMenu() {
        document.getElementById("rightMenu").style.display = "block";
    }
    function closeRightMenu() {
        document.getElementById("rightMenu").style.display = "none";
    }</script>
</div>
</body>

</html>