<!doctype html>
<html lang="en">

<head>
    <!-- Basic Page Needs==================================================-->
    <title>Job Stock - Responsive Job Portal Bootstrap Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS==================================================-->
    <link rel="stylesheet" href="/stylesheets/plugins.css">
    <link href="/stylesheets/dashboard_style.css" rel="stylesheet">
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <style>
        ::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
  .btn-get-started {
   width:100%;
   height:52px;
   border-radius:2px;
   font-size:16px;
   background:#1852bd;
   border:1px solid #1852bd;
   color: #fff;
  }
  
  .btn-get-started:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
  }

  .btn-get-started-2 {
   width:100%;
   height:52px;
   border-radius:2px;
   font-size:16px;
   background:#2c910e;
   border:1px solid #2c910e;
   color: #fff;
  }
  
  .btn-get-started-2:hover {
    background: none;
    border: 2px solid #000;
    color: #000;
  }

  .btn-get-started-3 {
  
   border-radius:2px;
   font-size:16px;
   background:#c02611;
   border:1px solid #c02611;
   color: #fff;
  }
  
  .btn-get-started-3:hover {
    background: none;
    border: 2px solid #000;
    color: #000;
  }

.btn-get-started-4 {
  
   border-radius:2px;
   font-size:16px;
   background:#315cdc;
   border:1px solid #315cdc;
   color: #fff;
  }
  
  .btn-get-started-4:hover {
    background: none;
    border: 2px solid #000;
    color: #000;
  }

  

  .block {
  width: 10%;
  border: none;
  background-color: rgba(255,255,255,0.2);
  padding: 14px 28px;
  font-size: 32px;
  text-align: center;
}


    </style>
</head>
<body>
<div class="Loader"></div>
<div class="wrapper">
   
    <div class="clearfix"></div>
    <div class="banner" style="width: 100%;height: 100vh;background: url(/../images/hero-bg.jpg) top center;background-size: cover;padding-top:0% !important;">
        <div class="container">
            <div class="banner-caption">
                <div class="col-md-12 col-sm-12 banner-text" style="margin-top: 2%;"> 
                   <h1>URL Statistics</h1>
                   {{#if urlstat}}
                    <div class="col-md-2 col-sm-6" style="visibility: hidden;">
                </div>
                <div class="col-md-4 col-sm-6" style="">
                    <div class="category-box" data-aos="fade-up" style="background:rgba(255,255,255,0.5)">
                        <div class="category-desc">
                            <div class="category-icon"><i class="fa fa-road" aria-hidden="true"></i></div>
                            <div class="category-detail category-desc-text">
                                <h4 style="color: #000;margin-bottom:5%;">Long Url</h4>

                                <span style="color: #000;font-size:x-large;font-weight:600;">{{urlstat.long_url}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="category-box" data-aos="fade-up" style="background:rgba(255,255,255,0.5)">
                        <div class="category-desc">
                            <div class="category-icon"><i class="fa fa-cut" aria-hidden="true"></i></div>
                            <div class="category-detail category-desc-text">
                                <h4 style="color: #000;margin-bottom:5%;">Short Url</h4>

                                <span style="color: #000;font-size:x-large;font-weight:600;">localhost:3000/{{urlstat.short_url}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="category-box" data-aos="fade-up" style="visibility: hidden;">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="category-box" data-aos="fade-up" style="background:rgba(255,255,255,0.5)">
                        <div class="category-desc">
                            <div class="category-icon"><i class="fa fa-plug" aria-hidden="true"></i></div>
                            <div class="category-detail category-desc-text">
                               <h4 style="color: #000;margin-bottom:5%;">Date Created</h4>

                                <span style="color: #000;font-size:x-large;font-weight:600;">{{urlstat.createdAt}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="category-box" data-aos="fade-up" style="background:rgba(255,255,255,0.5)">
                        <div class="category-desc">
                            <div class="category-icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                            <div class="category-detail category-desc-text">
                                <h4 style="color: #000;margin-bottom:5%;">Date Last Access</h4>

                                <span style="color: #000;font-size:x-large;font-weight:600;">{{urlstat.last_accessed}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="category-box" data-aos="fade-up" style="background:rgba(255,255,255,0.5)">
                        <div class="category-desc">
                            <div class="category-icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
                            <div class="category-detail category-desc-text">
                               <h4 style="color: #000;margin-bottom:5%;">Access Count</h4>

                                <span style="color: #000;font-size:x-large;font-weight:600;">{{urlstat.access_count}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <footer class="footer">
        <div class="row copyright">
            <div class="container">
                <p><a target="_blank" href="https://www.templateshub.net">&#169; Templates Hub</a></p>
            </div>
        </div>
    </footer>
    <!-- Scripts==================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.8/handlebars.js"></script>
    <script type="text/javascript">
    

      function myFunction(element,button) {
    /* Get the text field */
    var copyTexts = document.getElementsByName("copyButton");
    for(var i=0;i<copyTexts.length;i++){
        copyTexts[i].innerHTML = "Copy <i class=\"fa fa-copy\"></i>";
        copyTexts[i].style.background = "#2c910e"
        copyTexts[i].style.border = "1px solid #2c910e"
    }
    var copyText = document.getElementById(element.getAttribute('id'));
    /* Select the text field */
    copyText.select(); 
    copyText.setSelectionRange(0, 99999); /* For mobile devices */

    /* Copy the text inside the text field */
    document.execCommand("copy");

    /* Alert the copied text */
    //alert("Copied the text: " + copyText.value);
    button.innerHTML = "Copied"
    button.style.background = "#8D8D92"
    button.style.border = "1px solid #8D8D92"
    }
    </script>
    <script>function openRightMenu() {
        document.getElementById("rightMenu").style.display = "block";
    }
    function closeRightMenu() {
        document.getElementById("rightMenu").style.display = "none";
    }</script>
</div>
</body>

</html>